<main id="main">

  <!-- ======= Featured Services Section Section ======= -->
  <section id="featured-services">
      <div class="container">
          <div class="row">

              <div class="col-lg-4 box">
                  <i class="bi bi-file-medical"></i>
                  <h4 class="title"><a href="">Certificación médica</a></h4>
                  <p class="description">Un profesional de la salud visitará la dirección que nos indique con el objetivo de realizar la
                      certificación médica del fallecido e iniciar los trámites funerarios.
                  </p>
              </div>

              <div class="col-lg-4 box box-bg">
                  <i class="bi bi-people"></i>
                  <h4 class="title"><a href="">Contrato a domicilio</a></h4>
                  <p class="description">Acercaremos el contrato hasta tu ubicación al momento de hacer el retiro en la carroza fúnebre.</p>
              </div>

              <div class="col-lg-4 box">
                  <i class="bi bi-telephone"></i>
                  <h4 class="title"><a href="">Asesoría Legal</a></h4>
                  <p class="description">Puede que tenga muchas inquietudes o no conozca por donde empezar. Llámenos, estamos disponibles
                      telefónicamente las 24 horas, los 7 días de la semana.
                  </p>
              </div>

          </div>
      </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about">
      <div class="container" data-aos="fade-up">

          <header class="section-header">
              <h3>SOMOS FUNERALS</h3>
              <p>En el adiós a un ser querido necesitas más que una palabra cálida. Necesitas que la experiencia te acompañe en cada decisión
                  y en cada fase del proceso. Necesitas que te escuchen y te hablen con transparencia desde una mentalidad abierta. En algunos
                  momentos buscas algo más que una mano tendida. Buscas que entiendan lo que necesitas y que se anticipen con la mejor de las soluciones.
                  Buscas sentirte comprendido. Buscas que te cuiden, te apoyen y te sostengan. Quieres poder confiar y no preocuparte de nada. Adelante.
                  Somos Mémora y estamos contigo.</p>
          </header>

          <div class="row about-cols">

              <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="about-col">
                      <div class="img">
                          <img src="./assets/img/about-mission.jpg" alt="" class="img-fluid">
                          <div class="icon"><i class="bi bi-bar-chart"></i></div>
                      </div>
                      <h2 class="title"><a href="">Nuestra misión</a></h2>
                      <p>
                          Nos dedicamos a proporcionar servicios funerarios personalizados y dignos que honren la vida y el legado de los seres queridos.
                          Nos esforzamos por ser una fuente de consuelo y apoyo para las familias durante su duelo, ofreciendo atención profesional y compasiva en cada paso del camino.
                      </p>
                  </div>
              </div>

              <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="about-col">
                      <div class="img">
                          <img src="./assets/img/about-plan.jpg" alt="" class="img-fluid">
                          <div class="icon"><i class="bi bi-brightness-high"></i></div>
                      </div>
                      <h2 class="title"><a href="">Nuestro plan</a></h2>
                      <p>
                          Encontrarás una amplia gama de planes y servicios diseñados para brindar apoyo y comodidad en momentos difíciles. Desde la pre-planificación de arreglos funerarios hasta servicios conmemorativos personalizados, estamos aquí para acompañarte en cada paso del camino.
                      </p>
                  </div>
              </div>

              <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="about-col">
                      <div class="img">
                          <img src="./assets/img/about-vision.jpg" alt="" class="img-fluid">
                          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                      </div>
                      <h2 class="title"><a href="">Nuestra visión</a></h2>
                      <p>
                          Nos esforzamos por ser reconocidos como líderes en la industria funeraria, yendo más allá de las expectativas convencionales al ofrecer servicios de alta calidad y apoyo compasivo a las familias en sus momentos de pérdida.
                      </p>
                      <br>
                  </div>
              </div>

          </div>

      </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
            <h3>Explore Nuestros Servicios Funerarios</h3>
            <p class="central">Ofrecemos una gama respetuosa e integral de servicios para honrar a sus seres queridos y apoyarlo durante este momento difícil.</p>
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100" *ngFor="let servicio of servicios">
              <app-card-funeraria
              [servicio]="servicio"
            >
            </app-card-funeraria>
            </div>


        </div>

    </div>
    </section>
  <!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
          <p>
              "Trato de aceptar que te fuiste a un lugar mejor, tú sabrás que nunca dejaré de extrañarte y no se cuando me dejará de doler tu partida pero viviré recordándote en todo lo que me enseñaste, Te amaremos por siempre"
          </p>
      </div>
  </section><!-- End Call To Action Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="section-bg">
      <div class="container" data-aos="fade-up">

          <header class="section-header">
              <h3 class="section-title">NUESTRA GALERIA</h3>
          </header>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
<div class=" col-lg-12">
              <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">Todo</li>
                  <li data-filter=".filter-movil">Moviles</li>
                  <li data-filter=".filter-urna">Urnas</li>
                  <li data-filter=".filter-ataud">Ataúdes</li>
              </ul>
          </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-movil">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/movil1.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/movil1.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Carrozal" ><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Carrozal</a></h4>
                      <p>MOVIL</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ataud">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/ataud1.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/ataud1.jpg"  class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Lincoln copa tres de cedros"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Lincoln copa tres de cedros</a></h4>
                      <p>Ataud</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-movil">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/movil2.png" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/movil2.png" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Carro porta flores"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Carro porta flores</a></h4>
                      <p>MOVIL</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-urna">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/urna2.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/urna2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Caliz mediano"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Caliz mediano</a></h4>
                      <p>Urna</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ataud">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/ataud2.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/ataud2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Imperial stándar básico"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Imperial stándar básico</a></h4>
                      <p>Ataud</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-movil">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/movil3.png" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/movil3.png" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Vehículo de acompañamiento"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Vehículo de acompañamiento</a></h4>
                      <p>Movil</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-urna">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/urna3.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/urna3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Caliz tallado ovalado"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Caliz tallado ovalado</a></h4>
                      <p>Urna</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-urna">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/urna4.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/urna4.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Cofre con cruz dorada"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Cofre con cruz dorada</a></h4>
                      <p>Urna</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ataud">
              <div class="portfolio-wrap">
                  <figure>
                      <img src="./assets/img/portafolio/ataud3.jpg" class="img-fluid" alt="">
                      <a href="./assets/img/portafolio/ataud3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Fígaro redondes francés"><i class="bi bi-plus"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </figure>

                  <div class="portfolio-info">
                      <h4><a href="#">Fígaro redondes francés</a></h4>
                      <p>Ataud</p>
                  </div>
              </div>
          </div>

      </div>

      </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Our Clients Section ======= -->
  <section id="clients">
      <div class="container" data-aos="zoom-in">

          <header class="section-header">
              <h3>Nuestros aliados</h3>
          </header>

          <div class="clients-slider swiper">
              <div class="swiper-wrapper align-items-center">
                  <div class="swiper-slide"><img src="./assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="./assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
          </div>

      </div>
  </section><!-- End Our Clients Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="section-bg">
      <div class="container" data-aos="fade-up">

          <header class="section-header">
              <h3>Testimonios</h3>
          </header>

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <img src="./assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                          <h3>Saul Goodman</h3>
                          <h4>Ceo &amp; Founder</h4>
                          <p>
                              <img src="./assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                              <img src="./assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                          </p>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <img src="./assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                          <h3>Sara Wilsson</h3>
                          <h4>Designer</h4>
                          <p>
                              <img src="./assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                              <img src="./assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                          </p>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <img src="./assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                          <h3>Jena Karlis</h3>
                          <h4>Store Owner</h4>
                          <p>
                              <img src="./assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                              <img src="./assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                          </p>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <img src="./assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                          <h3>Matt Brandon</h3>
                          <h4>Freelancer</h4>
                          <p>
                              <img src="./assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                              <img src="./assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                          </p>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <img src="./assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                          <h3>John Larson</h3>
                          <h4>Entrepreneur</h4>
                          <p>
                              <img src="./assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                              <img src="./assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                          </p>
                      </div>
                  </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
          </div>

      </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team">
      <div class="container" data-aos="fade-up">
          <div class="section-header">
              <h3>NUESTRO EQUIPO</h3>
          </div>

          <div class="row">

              <div class="col-lg-3 col-md-6">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                      <img src="./assets/img/team-1.jpg" class="img-fluid" alt="">
                      <div class="member-info">
                          <div class="member-info-content">
                              <h4>Walter White</h4>
                              <span>Chief Executive Officer</span>
                              <div class="social">
                                  <a href="#"><i class="bi bi-twitter"></i></a>
                                  <a href="#"><i class="bi bi-facebook"></i></a>
                                  <a href="#"><i class="bi bi-instagram"></i></a>
                                  <a href="#"><i class="bi bi-linkedin"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6">
                  <div class="member" data-aos="fade-up" data-aos-delay="200">
                      <img src="./assets/img/team-2.jpg" class="img-fluid" alt="">
                      <div class="member-info">
                          <div class="member-info-content">
                              <h4>Sarah Jhonson</h4>
                              <span>Product Manager</span>
                              <div class="social">
                                  <a href="#"><i class="bi bi-twitter"></i></a>
                                  <a href="#"><i class="bi bi-facebook"></i></a>
                                  <a href="#"><i class="bi bi-instagram"></i></a>
                                  <a href="#"><i class="bi bi-linkedin"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6">
                  <div class="member" data-aos="fade-up" data-aos-delay="300">
                      <img src="./assets/img/team-3.jpg" class="img-fluid" alt="">
                      <div class="member-info">
                          <div class="member-info-content">
                              <h4>William Anderson</h4>
                              <span>CTO</span>
                              <div class="social">
                                  <a href="#"><i class="bi bi-twitter"></i></a>
                                  <a href="#"><i class="bi bi-facebook"></i></a>
                                  <a href="#"><i class="bi bi-instagram"></i></a>
                                  <a href="#"><i class="bi bi-linkedin"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6">
                  <div class="member" data-aos="fade-up" data-aos-delay="400">
                      <img src="./assets/img/team-4.jpg" class="img-fluid" alt="">
                      <div class="member-info">
                          <div class="member-info-content">
                              <h4>Amanda Jepson</h4>
                              <span>Accountant</span>
                              <div class="social">
                                  <a href="#"><i class="bi bi-twitter"></i></a>
                                  <a href="#"><i class="bi bi-facebook"></i></a>
                                  <a href="#"><i class="bi bi-instagram"></i></a>
                                  <a href="#"><i class="bi bi-linkedin"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

      </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

          <div class="section-header">
              <h3>Contáctenos</h3>
              <p>¿Tienes alguna duda? Escríbenos y déjanos tu mensaje. Nos pondremos en contacto.</p>
          </div>

          <div class="row contact-info">

              <div class="col-md-4">
                  <div class="contact-address">
                      <i class="bi bi-calendar-week"></i>
                      <h3>Horario</h3>
                      <address>
                          Horario de atención <br>
                          Lunes a Viernes: 9:00 a.m. a 5:00 p.m. <br>
                          Sábado, Domingo y Feriado: 8:00 a.m. a 5:00 p.m.
                      </address>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="contact-phone">
                      <i class="bi bi-phone"></i>
                      <h3>Número de teléfono</h3>
                      <p><a href="tel:+51999999999">+51 999 999 999</a></p>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="contact-email">
                      <i class="bi bi-envelope"></i>
                      <h3>Correo electrónico</h3>
                      <p><a href="mailto:info@example.com">funerals@gmail.com</a></p>
                  </div>
              </div>

          </div>

          <div class="form">
            <form [formGroup]="formEnvio" (ngSubmit)="addEnvioFormulario()" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <input formControlName="correo" type="email" class="form-control" placeholder="Tu correo electrónico" required>
                  <div class="error" *ngIf="formEnvio.get('correo')?.hasError('required') && formEnvio.get('correo')?.touched">
                    <span>El correo es requerido</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <input formControlName="dni" type="text" class="form-control" placeholder="Tu número de identidad" required>
                  <div class="error" *ngIf="formEnvio.get('dni')?.hasError('required') && formEnvio.get('dni')?.touched">
                    <span>El dni es requerido</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input formControlName="telefono" type="text" class="form-control" placeholder="Tu número telefónico" required>
                <div class="error" *ngIf="formEnvio.get('telefono')?.hasError('required') && formEnvio.get('telefono')?.touched">
                  <span>El telefono es requerido</span>
                </div>
              </div>

              <div class="form-group">
                <textarea formControlName="descripcion" class="form-control" rows="5" placeholder="Descripción" required></textarea>
                <div class="error" *ngIf="formEnvio.get('descripcion')?.hasError('required') && formEnvio.get('descripcion')?.touched">
                  <span>La descripcion es requerida</span>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" [disabled]="formEnvio.invalid">Enviar mensaje</button>
              </div>
            </form>

          </div>

      </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->