<main class="main">
  <div class="main__container">

    <h2 class="main__heading text-center">¿Quienes somos?</h2>

    <div class="main__flex">

      <div class="main__texto">
        <p class="main__parrafo">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        g
        oing through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
        from sections 1.10.32 and 1.
        10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) b
        y Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular du
        ring the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
        section 1.10.32.
        oing through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
        from sections 1.10.32 and 1.
        </p>

      </div>

      <div class="main__picture">
        <img class="picture__main" src="./assets/imgs/main.svg" alt="imagen de ataud de nuestro main">
      </div>

    </div>

  </div>
</main>