
<header class="header">
  <div class="header__container">

    <div class="header__flex">
      <picture class="header__logo">
        <img routerLink="/" src="./assets/imgs/logo.png" alt="logo funeraria" >
      </picture>

      <div class="header__redes">

        <div class="header__contacto">

            <i class="ri-phone-line"></i>



        </div>
        <p class="contact__red">+51 999 999 999</p>
        <div class="header__redes-sociales">
          <i class="ri-facebook-circle-fill"></i>
          <i class="ri-whatsapp-line"></i>
          <i class="ri-youtube-fill"></i>
          <i class="ri-instagram-line"></i>
        </div>
      </div>
    </div>



  </div>

  <nav class="header__navbar ">
    <ul class="navbar__list">
      <li class="navbar__item"><a class="navbar__link" routerLink="/about">Nosotros</a></li>
      <li class="navbar__item"><a class="navbar__link" routerLink="/service">Servicios</a></li>
      <li class="navbar__item"><a class="navbar__link" routerLink="/contact">Contacto</a></li>
    </ul>
  </nav>





</header>

