/* Estilos base para el encabezado */
#header {
  background-color: #080c08ec; /* Fondo semi-transparente */
  padding: 10px 0; /* Espaciado interior */
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.header__img img {
  max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  padding: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.navbar li a {
  color: #fff; /* Color del texto */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  transition: color 0.3s ease; /* Transición suave para el color */
  padding: 20px;
  font-size: 1.2rem;
}

.navbar li a:hover {
  color: #ffa500; /* Cambia el color al pasar el ratón */
}

/* Media query para dispositivos móviles */
@media (min-width: 769px) {
  .header__container {
    flex-direction: row; /* Alinea los elementos horizontalmente */
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  .header__img img {
    max-width: 400px; /* Ajusta el tamaño de la imagen al contenedor */
    padding: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    align-items: center; /* Centra los elementos horizontalmente */
  }
}