

<section class="horario">
  <div  class="horario__container">
    <div class="horario__grid">
      <div class="tiempo">
        <div class="tiempo__icon">
          <i class="ri-time-line"></i>
        </div>
        <div>
          <p>Horario de atención</p>
          <p>Lunes a Viernes: 9:00 a.m. a 5:00 p.m.</p>
          <p>Sábado, Domingo y Feriado: 8:00 a.m. a 5:00 p.m.</p>
        </div>

      </div>

      <div class="formulario">
        <form action="#" novalidate>
          <div class="formulario__controls">
            <h3 class="formulario__heading text-center">Solicutar informacion</h3>
          </div>

          <div class="formulario__controls">
            <input type="text" placeholder="CORREO ELECTRONICO">
          </div>

          <div class="formulario__controls">
            <input type="text" placeholder="CORREO ELECTRONICO">
          </div>

          <div class="formulario__controls">
            <input type="text" placeholder="CORREO ELECTRONICO">
          </div>

          <div class="formulario__controls">
            <textarea >

            </textarea>
          </div>

          <div class="formulario__controls">
            <div class="aceptar">
              <input type="checkbox" >
            <p>
              He leído y estoy de acuerdo con la Términos y Condiciones
            </p>
            </div>
          </div>

          <button class="formulario__button">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>