
@use '../../../../styles/mixin' as m;

.servico__container {
  padding: 40px 0px;
  margin:  0 auto;

  .servico__heading {
    font-size: 2rem;
    text-transform:uppercase;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0px;
  }
}

.servicio__grid {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 70px;

  @include m.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.desktop {
    grid-template-columns: repeat(4, 1fr);
  }

}