<mat-toolbar>
  <div class="mat-toolbar-row">
    <span>Servicios</span>
    <span class="example-spacer"></span>
    <button color="primary" mat-raised-button (click)="openAddEditService()">Agregar</button>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id" id="id-column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let service"> {{ service.id }} </td>
    </ng-container>

    <!-- Titulo Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
      <td mat-cell *matCellDef="let service"> {{ service.titulo }} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
      <td mat-cell *matCellDef="let service"> {{ service.descripcion }} </td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="estado" id="estado-column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let service"> {{ getEstadoText(service.estado) }} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stock" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td mat-cell *matCellDef="let service"> {{ service.stock }} </td>
    </ng-container>

    <!-- Imagen Column -->
    <ng-container matColumnDef="imagen" id="stock-column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
      <td mat-cell *matCellDef="let service"> {{ service.imagen }} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let service">

        <a (click)="openAddEditService(service.id)" class="pointer" style="color: #1f516f;" matTooltip ="Editar servicio">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)="deleteService(service.id)"class="pointer" style="color: #ee1123ee;" matTooltip="Eliminar servicio">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Define las filas de encabezado y datos -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let service; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
